@model IEnumerable<LidaKursach.Models.Carts>

@{
    ViewBag.Title = "All book what readed";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Start_reading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Книга
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start_reading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Id.Title)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @* @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @*@Html.ActionLink("Back", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
